/* Cover Styles */

.cover {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, .3), rgba(255, 255, 255, .4), rgba(255, 255, 255, .4), rgba(255, 255, 255, .3), rgba(255, 255, 255, 0.1)), url(/img/cover.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover !important;
}

.cover h1,
h2 {
    color: black;
    font-family: 'Open Sans', cursive;
    text-shadow: 0 0 4px grey;
}

.cover h1 {
    font-size: 8em;
}

.cover h2 {
    font-size: 6em;
}

.cover h3 {
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

.cover h3 a {
    color: #fc6d26;
}

.cover h4 {
    color: black;
    font-family: 'Patua One', cursive;
    font-size: 1.5rem;
    text-decoration: overline;
}

.btn {
    font-family: Poppins;
}

@media (max-width: 768px) {
    .cover {
        background-attachment: unset;
    }
    .cover h1 {
        font-size: 2.5em;
    }
    .cover h2 {
        font-size: 1.75em;
    }
    .cover h3 {
        font-size: 1.5em;
    }
    .cover h4 {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .cover h1 {
        font-size: 2em;
    }
    .cover h2 {
        font-size: 1em;
    }
    .cover h3 {
        font-size: .8em;
    }
    .cover h4 {
        font-size: .7em;
    }
}


/* About */

.about {
    padding: 50px 0;
}


/* Services */

.services {
    padding: 50px 0;
    background-color: lightskyblue;
}

.service-item {
    margin-bottom: 30px;
}

.service-item a:link {
    text-decoration: none;
}

.service-item h4 a:link {
    color: black;
    text-decoration: none;
}

.service-item h4 a:visited {
    color: black;
    text-decoration: none;
}

.service-item h4 a:hover {
    color: lightgoldenrodyellow;
}

.service-item h4 a:active {
    color: lightgoldenrodyellow;
}

@media (min-width: 0px) and (max-width: 640px) {
    .cover ul {
        font-size: .5em;
    }
}